.window{
    display: none;/*this makes the window invisible until revealed - good practice???*/
    position: absolute;/*so this makes the window moveable apparetnly?*/
    top: 100px;
    left: 100px;
    background: white;
    border: 2px solid black;
    padding: 10px;
}

.desktop{
    width: 100vw;
    height: 100vw;
    background:008080;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
}